$color-dark: #3d3d3d;
$color-yellow: #FDD000;
$color-white: #fff;
$color-gray: #999;
$color-gray-light: #a1a1a1;
$color-gray-white: #D5D5D5;
$color-money-gray: #D8D8D8;
$color-text: #3D3D3D;
$color-blue: #769CDE;
$color-placeholder: #D6D6D6;
$color-gray-border: #E7E7E7;

$color-popup-blue: #0076FF;
$color-popup-gray: #979797;
